/*path{
	fill: none;
	stroke:navajowhite;
	stroke-width:4px;
}*/
path{
	fill:none;
	stroke:black;
	stroke-width:0px;
	stroke-opacity:0.4;
}
/*line{
	stroke:green;
	stroke-width:3px;
}*/
circle{
	fill:yellow;
	stroke:orange;
	stroke-width:5px;
	fill-opacity:0.6;
	stroke-opacity:0.6;

}